
@use '../Constants/Colors';


main
{
	min-height: 100%;
	display: grid;
	background: Colors.$PSI;
	grid-template-rows: 7rem 1fr;

	aside
	{
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		padding: 0 1.5rem;
		background-color: Colors.$OMEGA;
		color: white;

		h1
		{
			font-family: 'Jost', Arial, Helvetica, sans-serif;
			font-size: 2.6rem;
			letter-spacing: .5rem;

			span
			{
				border-left: 1px solid Colors.$BETA;
				display: inline-block;
				padding-left: .7rem;
				margin-left: .2rem;
				font-size: 2.0rem;
				color: Colors.$BETA;
			}
		}

		nav
		{
			display: flex;
			justify-content: flex-end;

			a
			{
				display: flex;
				width: 4.4rem;
				height: 4.4rem;

				img
				{
					max-width: 3rem;
				}
			}
		}
	}


	section
	{
		display: grid;
		padding: 0 1.5rem;
		align-items: center;
		text-align: center;
	}



}
