[data-id=ModalWrapper] {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-id=ModalWrapper] div {
  background: white;
  height: 65%;
  width: calc(100% - 3rem);
  border-radius: 1rem;
  padding: 1.5rem;
}
