
$ALPHA: #FFFFFF;				// Font color main
$BETA: darken($ALPHA, 30%);		// Font color secondary
//$GAMMA:
//$DELTA:
//$EPSILON:
//$ZETA:
//$ETA:
//$THETA:
//$IOTA:
//$KAPPA:
//$LAMBDA:
//$MU:
//$NU:
//$XI:
//$OMICRON:
//$PI:
//$RHO:
//$SIGMA:
//$TAU:
//$UPSILON:
//$PHI:
//$CHI:
$PSI: #161616;					//body bg
$OMEGA: #000000;				//header bg


$ALPHA_D20: darken($ALPHA, 20%);
$ALPHA_D40: darken($ALPHA, 40%);