
$ALPHA: #FFF;					// Font color main
$BETA: #BBB;					// Font color secondary
$GAMMA: #888;					// Font color lighter on white
//$DELTA:
//$EPSILON:
//$ZETA:
//$ETA:
//$THETA:
//$IOTA:
//$KAPPA:
//$LAMBDA:
//$MU:
//$NU:
//$XI:
//$OMICRON:
//$PI:
//$RHO:
//$SIGMA:
//$TAU:
//$UPSILON:
//$PHI:
$CHI: hsla(0,0%,100%,.08);		//lighter bg fill
$PSI: #111111;					//body bg
$OMEGA: #000000;				//header bg


$ALPHA_D20: darken($ALPHA, 20%);
$ALPHA_D40: darken($ALPHA, 40%);