
<article id="ItemCategory">

	<h2>Aerospace</h2>

	<div data-id="Item" data-item-id="kaptonFoil">
		<img src="./Assets/kaptonApollo11.jpg" alt="Apollo 11 Kapton">
		<h3>
			Apollo 11 Command Module Kapton Foil
		</h3>
		<p>
			Learn More
		</p>
	</div>

	<div data-id="Item" data-item-id="challengerHeatTile">
		<img src="./Assets/challengerHeatTile.jpg" alt="">
		<h3>
			Space Shuttle Challenger Insulation Tile
		</h3>
		<p>
			Learn More
		</p>
	</div>

	<div data-id="Item" data-item-id="columbiaHeatTile">
		<img src="./Assets/columbiaHeatTile.jpg" alt="">
		<h3>
			Space Shuttle Columbia Insulation Tile
		</h3>
		<p>
			Learn More
		</p>
	</div>

	<div data-id="Item" data-item-id="hindenburgSkin">
		<img src="./Assets/hindenburgSkin.jpg" alt="">
		<h3>
			Hindenburg Airship Skin
		</h3>
		<p>
			Learn More
		</p>
	</div>

</article>
