
<img src="./Assets/Apollo11/apollo11_kaptonFoilSample_sff_color.jpg" alt="Kapton Foil Sample">
<h2>
	Apollo 11 Command Module Protective Foil Sample
</h2>

<h3>"Kapton" Foil</h3>
<ul>
	<li>
		<a href="https://en.wikipedia.org/wiki/Kapton" target="blank">Kapton Foil</a> is a semi-transparent, gold-colored, aluminized <a href="https://en.wikipedia.org/wiki/Polyimide" target="blank">polyimide</a> film.
	</li>
	<li>
		Multiple layers of Kapton foil covered the
		<abbr title="Command and Service Module" tabindex="0">CSM</abbr> (aka Columbia) and
		<abbr title="Lunar Excursion Module" tabindex="0">LEM</abbr> (aka Eagle) crafts.
	</li>
	<li>
		Protected Cmdr. Neil Armstrong, LEM Pilot Edwin "Buzz" Aldrin, and CSM Pilot Michael Collins from temperature extremes during the Apollo 11 Mission.
	</li>
</ul>

<img src="./Assets/Apollo11/saturnRocketDiagram_sff_color.jpg" alt="Apollo 11 Kapton">
<p>
	Saturn V rocket takeoff from Cape Kennedy at 9:32 AM on July 16, 1969. Saturn V is the largest and most powerful rocket ever launched.
</p>


<img src="./Assets/Apollo11/eagleOnTheMoon_sff_color.jpg" alt="">
<p>
	Armstrong and Aldrin land the LEM on the moon at 4:17 PM on July 20, 1969.
</p>


<img src="./Assets/Apollo11/michaelCollinsCSM_sff_bw.jpg" alt="">
<p>
	While Armstrong and Aldrin explored the moon, Collins pilots the CSM around the moon 25 times. Orbiting at an altitude of 61.6 miles.
</p>

https://www.youtube.com/watch?v=f4PKGpEbSC8
<img src="./Assets/Apollo11/rendezvous_CsmLem_sff_color.jpg" alt="">
	<img src="./Assets/Apollo11/commandModulePostSplashdown1_sff_color.jpg" alt="">
	<img src="./Assets/Apollo11/commandModulePostSplashdown2_sff_color.jpg" alt="">
