
<article id="ItemCategory">

	<h2>Aerospace</h2>

	<div data-id="Item" data-item-id="aerospace_article_kapton">
		<img src="./Assets/Apollo11/commandModuleAtopRocket_sff_bw.jpg" alt="Apollo 11 Kapton">
		<h3>
			Apollo 11 Command Module Kapton Foil
		</h3>
		<p>
			Learn More
		</p>
	</div>

	<div data-id="Item" data-item-id="aerospace_article_challengerTile">
		<img src="./Assets/ChallengerHeatTile/challengerHeatTile.jpg" alt="">
		<h3>
			Space Shuttle Challenger Insulation Tile
		</h3>
		<p>
			Learn More
		</p>
	</div>

	<div data-id="Item" data-item-id="aerospace_article_columbiaTile">
		<img src="./Assets/ColumbiaHeatTile/columbiaHeatTile.jpg" alt="">
		<h3>
			Space Shuttle Columbia Insulation Tile
		</h3>
		<p>
			Learn More
		</p>
	</div>

	<div data-id="Item" data-item-id="aerospace_article_hindenburgSkin">
		<img src="./Assets/Hindenburg/hindenburgSkin.jpg" alt="">
		<h3>
			Hindenburg Airship Skin
		</h3>
		<p>
			Learn More
		</p>
	</div>

</article>
