
<img src="./Assets/Apollo11/apollo11_kaptonFoilSample_sff_color.jpg" alt="">
<h2>
	Apollo 11 Command Module Foil
</h2>
<p>

	<h3>Kapton Foil</h3>
	<ul>
		<li>Covered the <abbr title="Command and Service Module">CSM</abbr> (aka Columbia) and Lunar Lander (aka Eagle) crafts.</li>
		<li>Protected Neil Armstrong, Buzz Aldrin, and Michael Collins from solar radiation during the Apollo 11 Mission.</li>
		<li>Semi-transparent, gold-colored, aluminized <a href="https://en.wikipedia.org/wiki/Polyimide">polyimide film</a> which</li>
	</ul>

The entire surface of Columbia was coated with many layers of this foil, with the outermost layers installed aluminized side out to provide maximum reflection of radiation.

	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quidem, quisquam.
</p>
<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quidem, quisquam.
	https://www.youtube.com/watch?v=f4PKGpEbSC8

	<img src="./Assets/Apollo11/commandModuleAtopRocket_sff_color.jpg" alt="Apollo 11 Kapton">
	<img src="./Assets/Apollo11/eagleOnTheMoon_sff_color.jpg" alt="">
	<img src="./Assets/Apollo11/rendezvous_CsmLem_sff_color.jpg" alt="">
	<img src="./Assets/Apollo11/commandModulePostSplashdown1_sff_color.jpg" alt="">
	<img src="./Assets/Apollo11/commandModulePostSplashdown2_sff_color.jpg" alt="">
</p>
