
<img src="./Assets/Apollo11/apollo11_kaptonFoilSample_sff_color.jpg" alt="">
<h2>
	Apollo 11 Command Module Protective Foil Sample
</h2>

<h3>"Kapton" Foil</h3>
<ul>
	<li>
		<a href="https://en.wikipedia.org/wiki/Kapton" target="blank">Kapton Foil</a> is a semi-transparent, gold-colored, aluminized <a href="https://en.wikipedia.org/wiki/Polyimide" target="blank">polyimide film</a>.
	</li>
	<li>
		Multiple layers of covered the
		<abbr title="Command and Service Module" tabindex="0">CSM</abbr> (aka Columbia) and
		<abbr title="Lunar Excursion Module" tabindex="0">LEM</abbr> (aka Eagle) crafts.
	</li>
	<li>
		Protected Neil Armstrong, Buzz Aldrin, and Michael Collins from temperature extremes during the Apollo 11 Mission.
	</li>
</ul>


<p>

</p>

<img src="./Assets/Apollo11/saturnRocketDiagram_sff_color.jpg" alt="Apollo 11 Kapton">

<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quidem, quisquam.
</p>

https://www.youtube.com/watch?v=f4PKGpEbSC8
	<img src="./Assets/Apollo11/rendezvous_CsmLem_sff_color.jpg" alt="">
	<img src="./Assets/Apollo11/eagleOnTheMoon_sff_color.jpg" alt="">
	<img src="./Assets/Apollo11/commandModulePostSplashdown1_sff_color.jpg" alt="">
	<img src="./Assets/Apollo11/commandModulePostSplashdown2_sff_color.jpg" alt="">
