
<article id="ItemCategory">

	<h2>Geology</h2>


	<div data-id="Item" data-item-id="atomic_article_trinititeSample">
		<img src="./Assets/kaptonApollo11.jpg" alt="Apollo 11 Kapton">
		<h3>
			Anthracite Sample
		</h3>
		<p>
			Learn More
		</p>
	</div>


	<div data-id="Item" data-item-id="atomic_article_enolaGayBook">
		<img src="./Assets/challengerHeatTile.jpg" alt="">
		<h3>
			Chelyabinsk Meteorite Sample
		</h3>
		<p>
			Learn More
		</p>
	</div>


	<div data-id="Item" data-item-id="atomic_article_enolaGayBook">
		<img src="./Assets/challengerHeatTile.jpg" alt="">
		<h3>
			Agate Geode - Quartz
		</h3>
		<p>
			Learn More
		</p>
	</div>


	<div data-id="Item" data-item-id="atomic_article_enolaGayBook">
		<img src="./Assets/challengerHeatTile.jpg" alt="">
		<h3>
			Phosphorescent/Fluorescent Hyalite and Fluorite Sample
		</h3>
		<p>
			Learn More
		</p>
	</div>


	<div data-id="Item" data-item-id="atomic_article_enolaGayBook">
		<img src="./Assets/challengerHeatTile.jpg" alt="">
		<h3>
			Rough Welo Opal Sample
		</h3>
		<p>
			Learn More
		</p>
	</div>

</article>
